<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__task-list">
            <li class="main-header__task">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__task">
                <a class="<%= path === '/store/task-list' ? 'active' : '' %>" href="/store/task-list">Store</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="main-header__task">
                    <a class="<%= path === '/user/timetracker' ? 'active' : '' %>" href="/user/timetracker">TimeTracker</a>
                </li>
                <li class="main-header__task">
                    <a class="<%= path === '/user/archive' ? 'active' : '' %>" href="/user/archive">Archive</a>
                </li>
                <li class="main-header__task">
                    <a class="<%= path === '/user/add-task' ? 'active' : '' %>" href="/user/add-task">Add Task
                    </a>
                </li>
                <li class="main-header__task">
                    <a class="<%= path === '/user/task-list' ? 'active' : '' %>" href="/user/task-list">User Tasks
                    </a>
                </li>
            <% } %>
        </ul>
        <ul class="main-header__task-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__task">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__task">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__task">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>
<!-- MOBILE -->
<nav class="mobile-nav">
    <ul class="mobile-nav__task-list">
        <li class="mobile-nav__task">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="mobile-nav__task">
            <a class="<%= path === '/store/task-list' ? 'active' : '' %>" href="/store/task-list">Store</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="mobile-nav__task">
                <a class="<%= path === '/user/timetracker' ? 'active' : '' %>" href="/user/timetracker">TimeTracker</a>
            </li>
            <li class="mobile-nav__task">
                <a class="<%= path === '/user/archive' ? 'active' : '' %>" href="/user/archive">Archive</a>
            </li>
            <li class="mobile-nav__task">
                <a class="<%= path === '/user/add-task' ? 'active' : '' %>" href="/user/add-task">Add Task
                </a>
            </li>
            <li class="mobile-nav__task">
                <a class="<%= path === '/user/task-list' ? 'active' : '' %>" href="/user/task-list">User Tasks
                </a>
            </li>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__task">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__task">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__task">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>