<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main class="centered">
            <article class="card">
                <h1><%= item.title %></h1>
                <hr>
                <div class="image">
                    <img src="<%= item.imageUrl %>" alt="<%= item.title %>">
                </div>
                <div class="card__content">
                    <h2><%= item.price %></h2>
                    <p><%= item.description %></p>
                    <% if (isAuthenticated) { %>
                        <%- include('../includes/addToCartInclude.ejs', {item: item}) %>
                    <% } %>
                </div>
            </article>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>