<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (tasks.length > 0) { %>
                <div class="grid">
                    <% for (let task of tasks) { %>
                        <article class="card task-task">
                            <header class="card__header">
                                <h1 class="task__title">
                                    <%= task.title %>
                                </h1>
                            </header>
                            <div class="card__image">
                                <img src="<%= task.imageUrl %>" alt="<%= task.title %>">
                            </div>
                            <div class="card__content">
                                <h2 class="task__price">$
                                    <%= task.price %>
                                </h2>
                                <p class="task__description">
                                    <%= task.description %>
                                </p>
                            </div>
                            <div class="card__actions">
                                <a href="/store/task-list/<%= task._id %>" class="btn">Details</a>
                                <% if (isAuthenticated) { %>
                                    <%- include('../includes/addToCartInclude.ejs', {task: task}) %>
                                <% } %>
                            </div>
                        </article>
                        <% } %>
                </div>
                <%- include('../includes/paginationInclude.ejs', {
                    currentPage: currentPage, 
                    nextPage: nextPage, 
                    previousPage: previousPage, 
                    lastPage: lastPage, 
                    hasNextPage: hasNextPage, 
                    hasPreviousPage: hasPreviousPage
                    })
                %>
                <% } else { %>
                    <h1>No tasks found</h1>
            <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>