<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (archive.length <= 0) { %>
                <h1>No archive available</h1>
            <% } else { %>
                <ul class="archive">
                    <% archive.forEach(archive => { %>
                        <li class="archive__task">
                            <h1>Archive - # <%= archive._id %> - <a href="/user/archive/<%= archive._id %>">Archived Task</a></h1>
                            <ul class="archive__tasks">
                                <% archive.tasks.forEach(task => { %>
                                    <li class="archive__tasks-task"><%= task.task.title %> (<%= task.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>