<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (archive.length <= 0) { %>
                <h1>No archive available</h1>
            <% } else { %>
                <div class="tasklistContainer_div">
                    <% archive.tasks.forEach(task=> { %>
                        <div class="tasklist_div">
                            <ul class="tasklist_ul">
                                <li class="tasklist_li"><h3><%= task.title %></h3></li>
                                <li class="tasklist_li">
                                    <form action="/user/archive/delete-task" method="POST">
                                        <input type="hidden" name="taskId" value="<%= task._id %>">
                                        <input type="hidden" name="archiveId" value="<%= archive._id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="taskButton" type="submit">Delete</button>
                                    </form>
                                </li>
                                <li class="tasklist_li">
                                    <form action="/user/archive/make-active" method="POST">
                                        <input type="hidden" name="taskId" value="<%= task._id %>">
                                        <input type="hidden" name="archiveId" value="<%= archive._id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="taskButton" type="submit">Make Active</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>