<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
            <% if (!archive) { %>
                <h1>Archive Not Found</h1>
            <% } else { %>
                <div class="archivedTaskContainer">
                    <h1>Archived Task</h1>
                    <hr>
                    <div>
                        <% dateString = new Date(archive.createdAt).toDateString() %>
                        <h4>Archive: <%= archive._id%></h4>
                        <h4>Date: <%= dateString %></h4>
                        <table id="archivedTaskTable">
                            <tbody>
                                <tr>
                                    <th>Task</th>
                                    <th>Total Time</th>
                                </tr>
                                <% let totalTime = 0; %>
                                <% archive.tasks.forEach(task => { %>
                                    <% totalTime += task.totaltime; %>
                                    <tr>
                                        <td><%= task.title %></td>
                                        <td>Time: <%= task.totaltime %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <div><h3>Archive Total: <%= totalTime %></h3></div>
                    </div>
                    <hr>
                </div>
            <% } %>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>
