<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (archive.length <= 0) { %>
                <h1>No archive available</h1>
            <% } else { %>
                <% archive.tasks.forEach(task=> { %>
                    <div class="tasklist_div">
                        <ul class="tasklist_ul">
                            <li class="tasklist_li"><h3><%= task.title %></h3></li>
                            <li class="tasklist_li">
                                <form action="/user/archive/delete-task" method="POST">
                                    <button class="btn" type="submit">Delete</button>
                                    <input type="hidden" name="taskId" value="<%= task._id %>">
                                    <input type="hidden" name="archiveId" value="<%= archive._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                            </li>
                            <li><a class="tasklist_li"><a class="btn" href="/user/edit-task/<%= task._id %>">Edit</a></li>
                            <li class="tasklist_li">
                                <form action="/user/archive/make-active" method="POST">
                                    <button class="btn" type="submit" >Make Active</button>
                                    <input type="hidden" name="taskId" value="<%= task._id %>">
                                    <input type="hidden" name="archiveId" value="<%= archive._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </form>
                            </li>
                        </ul>
                    </div>
                <% }); %>
            <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>