<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (tasks.length > 0) { %>
                <ul class="cart__task-list">
                    <% tasks.forEach(task => { %>
                        <li class="cart__task">
                            <h1><%= task.taskId.title %></h1>
                            <h2>Quantity: <%= task.quantity %></h2>
                            <form action="/user/cart-delete-task" method="POST">
                                <input type="hidden" value="<%= task.taskId._id %>" name="taskId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <a class="btn" href="/user/checkout">Order Task</a>
                </div>
                
            <% } else { %>
                <h1>Cart is empty</h1>
            <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>