<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
            <% if (!archive) { %>
                <h1>Archive Not Found</h1>
            <% } else { %>
                <div class="invoiceContainer">
                    <h1>Invoice</h1>
                    <hr>
                    <div>
                        <% dateString = new Date(archive.createdAt).toDateString() %>
                        <h4>Archive: <%= archive._id%></h4>
                        <h4>Date: <%= dateString %></h4>
                        <table id="invoiceTable">
                            <tbody>
                                <tr>
                                    <th>Task</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                <% let totalPrice = 0; %>
                                <% archive.tasks.forEach(task => { %>
                                    <% totalPrice += task.quantity * task.task.price; %>
                                    <tr>
                                        <td><%= task.task.title %></td>
                                        <td>$<%= task.task.price %></td>
                                        <td><%= task.quantity %></td>
                                        <td>$<%= task.quantity * task.task.price %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <div><h3>Archive Total: $<%= totalPrice %></h3></div>
                    </div>
                    <hr>
                </div>
            <% } %>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>
