<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>No orders available</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %> - <a href="/user/orders/<%= order._id %>">Invoice</a></h1>
                            <ul class="orders__items">
                                <% order.items.forEach(item => { %>
                                    <li class="orders__items-item"><%= item.item.title %> (<%= item.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>