<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (tasks.length > 0) { %>
                <div class="grid">
                    <% for (let task of tasks) { %>
                        <article class="card task-task">
                            <header class="card__header">
                                <h1 class="task__title">
                                    <%= task.title %>
                                </h1>
                            </header>
                            <div class="card__image">
                                <img src="<%= task.imageUrl %>" alt="<%= task.title %>">
                            </div>
                            <div class="card__content">
                                <h2 class="task__totaltime">Time: 
                                    <%= task.totaltime %>
                                </h2>
                                <p class="task__description">
                                    <%= task.description %>
                                </p>
                            </div>
                            <div class="card__actions">
                                <a href="/user/edit-task/<%= task._id %>" class="btn">Edit</a>
                                <input type="hidden" value="<%= task._id %>" name="taskId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn" type="button" onclick="deleteTask(this)">Delete</button>
                            </div>
                        </article>
                        <% } %>
                </div>
                <% } else { %>
                    <h1>No tasks found</h1>
                    <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>