<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main>
            <% if (tasks.length > 0) { %>
                <% for (let task of tasks) { %>
                    <div class="tasklist_div">
                        <ul class="tasklist_ul">
                            <li class="tasklist_li"><h3 class="taskTitle"><%= task.title %></h3></li>
                            <li class="tasklist_li"><p class="taskTotalTime">Time: <%= task.totaltime %></p></li>
                            <li class="tasklist_li"><a href="/user/edit-task/<%= task._id %>" class="taskButton">Edit</a></li>
                            <li class="tasklist_li">
                                <input type="hidden" value="<%= task._id %>" name="taskId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="taskButton" type="button" onclick="deleteTask(this)">Delete</button>
                                <button class="taskButton" type="button" onclick="archiveTask(this)">Archive</button>
                            </li>
                            <li class="tasklist_li"><button class="taskButton" type="button" onclick="startTask(this)">Start</button></li>
                            <li class="tasklist_li"><button class="taskButton" type="button" onclick="stopTask(this)">Stop</button></li>
                        </ul>
                    </div>
                <% } %>
            <% } else { %>
                <h1>No tasks found</h1>
            <% } %>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>
