<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
            <main>
                <% if (tasks.length> 0) { %>
                    <% for (let task of tasks) { %>
                        <div class="tasklist_div">
                            <ul class="sharedTasklist_ul">
                                <h3>
                                     <%= task.title %>
                                </h3>
                                <% for (let childrenTask of task.tasks) { %>
                                    <li class="sharedTasklist_li">
                                        <h3>
                                            <%= childrenTask.title %>
                                        </h3>
                                        <p>Time: <%= childrenTask.totaltime %></p>
                                        <% if (childrenTask.userId == userId.toString()) { %>
                                            <a href="/share/edit-task/<%= childrenTask._id %>/<%= task._id %>" class="btn">Edit</a>
                                            <a href="/share/delete-task/<%= childrenTask._id %>/<%= task._id %>" class="btn">Delete</a>
                                            <button class="btn" type="button"
                                                onclick="punchIn(this)">Punch-In</button>
                                            <button class="btn" type="button"
                                                onclick="punchOut(this)">Punch-Out</button>
                                        <% } %>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                        <% } %>
                            <% } else { %>
                                <h1>No tasks found</h1>
                                <% } %>
            </main>
            <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>
