<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main class="centered">
            <article class="card">
                <h1><%= task.title %></h1>
                <hr>
                <div class="card__content">
                    <h2 class="task__totaltime"><%= task.timestart %></h2>
                </div>
                <div class="card__content">
                    <h2><%= task.totaltime %></h2>
                    <p><%= task.description %></p>
                </div>
            </article>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>