<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../includes/headInclude.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigationInclude.ejs') %>
        <main class="centered">
            <article class="card">
                <h1><%= task.title %></h1>
                <hr>
                <div class="image">
                    <img src="<%= task.imageUrl %>" alt="<%= task.title %>">
                </div>
                <div class="card__content">
                    <h2><%= task.price %></h2>
                    <p><%= task.description %></p>
                    <% if (isAuthenticated) { %>
                        <%- include('../includes/addToTimeTrackerInclude.ejs', {task: task}) %>
                    <% } %>
                </div>
            </article>
        </main>
        <%- include('../includes/javascriptInclude.ejs') %>
    </body>
</html>